body {
  background: #333333;
  font-family: sans-serif;
}

#main {
  width: 400px;
  height: 300px;
  margin: 200px auto;
  background: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
  padding-top: 30px;
}

input {
  margin: 20px 17% 0;
  width: 250px;
  height: 30px;
  border: 2px solid #440083;
  background: #333333;
  color: white;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
  font-size: 20px;
  transition: 0.5s;
}

input:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

#text {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 20px;
}

#display {
  color: #440083;
  text-align: center;
  font-size: 25px;
  margin: 20px;
}