@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

body {
  background: #e2e2e2;
  font-family: sans-serif;
}

#main {
  width: 400px;
  height: 300px;
  margin: 200px auto;
  background: linear-gradient(to right, #8942A8, #BB3830);
  border-radius: 20px;
  box-sizing: border-box;
  padding-top: 30px;
  box-shadow: 10px 10px 10px 0px rgba(74,74,74,1);
}

input {
  margin: 20px 17% 0;
  width: 250px;
  height: 30px;
  border: none;
  background: white;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
  font-size: 20px;
  transition: 0.5s;
}

input:focus {
  transform: scale(1.1);
  transition: 0.5s;
}

#text {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 20px;
}

#display {

  color: #ffd477;
  text-align: center;
  font-size: 30px;
  margin: 20px;
  font-family: 'Kaushan Script', cursive;
}